[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = ">=1.31"
altair = "*"
pandas = "*"
google-cloud-firestore = "*"
streamlit-analytics2 = {editable = true, path = "."}

[dev-packages]
black = "*"
isort = "5.13.2"
flake8 = "*"
mypy = "*"
bandit = "*"
pytest = "*"
pandas-stubs = "*"

[requires]
python_version = "3.9"
